body {
    font-family: 'Varela', sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.logo {
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 1;
    text-align: right;
    font-size: 50px;
    color: #916f6f;
}


/* landing page */
.button-main {
    width: 100%;
    height: 100vh;
    opacity: 70%;
    cursor: pointer;
}

.button-main:hover {
    opacity: 100%;
}

.land-main {
    padding: 15% 10%;
    text-align: center;
}

.title {
    font-size: 70px;
    color: #916f6f;
    font-weight: 600;
}

.quote {
    margin: 5%;
    font-size: 40px;
    color: #c8b7b7;
    font-style: italic;
}

/* main page */
.subtitle {
    padding: 30% 5%;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    font-size: 70px;
    text-align: center;
    color: #e3dbdb;
}

.carousel {
    display: none;
}

.img-show {
    position: absolute;
    top: 10%;
    left: 40%;
    text-align: center;
    height: 550px;
    z-index: -1;
}

.img-next {
    position: absolute;
    top: 30%;
    left: 20%;
    height: 300px;
    z-index: 1;
    cursor: pointer;
    opacity: 70%;
}

.img-next:hover {
    opacity: 100%;
}